*{
    background-color: #958e8e;
}


.height{
    height: 600px;
}

.margin-btn-top{
    margin-top: 5px;
}


.hide{
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 60px 0 60px;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: auto;
    color: white;

}