html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  color: #05445e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75e6da;
}

.app-container {
  width: 80rem;
  height: 60rem;
  color: #05445e;
}

.header {
  display: flex;
  justify-content: center;
  gap: 9.6rem;
  font-size: 1.6rem;
  padding-top: 3.6rem;
}

.container {
  text-align: center;
  width: 80%;
  height: 70%;
  padding: 2.4rem;
  margin: 1.2rem auto;
  background-color: #d4f1f4;
}

.title {
  font-size: 2.4rem;
  padding: 1.8rem;
  margin-top: 3.2rem;
}

.ans-list {
  list-style: none;
  line-height: 1.5;
  font-size: 1.8rem;
}

.btn {
  padding: 1rem 2rem;
  margin-top: 1.2rem;
  border-radius: 9px;
  background-color: #05445e;
  color: white;
  border: none;
  cursor: pointer;
}
