.height{
    height: 600px;
}

.margin-btn-top{
    margin-top: 5px;
}


.hide{
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 50%;
    flex-direction: column;
    align-items: center;

}